body {
    margin: 0;
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #terminal {
    background-color: #111;
    padding: 20px;
    border: 2px solid #0f0;
    width: 90%;
    max-width: 800px;
    height: 80vh;
    overflow-y: auto;
    box-shadow: 0 0 20px #0f0;
  }
  
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  #commandInput {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #00ff00;
    border: none;
    border-top: 1px solid #00ff00;
    font-size: 16px;
    font-family: monospace;
    outline: none;
  }
  